.funny-glasses {
    position: relative;
    left:213px;
    bottom:108px;
}

.bandana {
    position: absolute;
    top: 178px;
    left: 108px;
}

.pawprint {
    position: fixed;
    top: 65%;
    left: 60%;

}

.luna {
    position: sticky;
    left:0;
}

.top-hat {
    z-index: 1;
}